body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos generales */

.header {
  background-image: url("imagenes/banner.png");
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 0.1px;
}

.header::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.604);
  width: 100%;
  height: 100vh;
  position: absolute;
}

.contenidoheader {
  position: relative;
  color: white;
}

.encabezado {

  margin: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.contenidoheader img {
  width: 190px;
}

.contenidoheader nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 13px;
  position: relative;
}

.contenidoheader nav a::after {
  content: "";
  opacity: 1;
  position: absolute;
  background-color: rgb(255, 0, 0);
  left: 50%;
  bottom: -5px;
  width: 0%;
  height: 3px;
  transition: 0.4s;
  border-radius: 2px;

}

.contenidoheader nav a:hover::after {
  left: 0;
  width: 100%;
}

/* pagina index */
.titulosprincipales {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh;
}